<<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8'>
      <h2>配送先編集</h2>

      <%= form_with model: @delivery, url: delivery_path(@delivery.id) do |f| %>
        <%= f.hidden_field :customer_id, :value => @current_customer.id %>
        <table class="table">
          <tbody>
              <%= f.hidden_field :customer_id, :value => @current_customer.id %>
            <tr>
              <td>郵便番号（ハイフンなし）</td>
              <td><%= f.text_field :postal_code, class: 'form-control' %></td>
            </tr>

            <tr>
              <td>住所</td>
              <td><%= f.text_area :address,cols:10, class: 'form-control' %></td>
            </tr>

            <tr>
              <td>宛名</td>
              <td><%= f.text_field :name, class: 'form-control' %></td>
              <td><%= f.submit '変更を保存', class: "btn btn-success" %></td>
            </tr>

          </tbody>
        </table>
      <% end %>

    </div>
  </div>
</div>