<div class="container">
  <div class="row">
    <div class="col mx-auto">
    <h1>注文情報入力</h1>
      <%= form_with model: @order, url: orders_confirm_path do |f| %>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>
    <span>支払方法</span>
    <div>
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
    </div>
    <div>
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
    </div>
    <span>お届け先</span>
    <div>
      <%= f.radio_button :select_delivery, 0, {:checked => true}  %>
      <%= f.label :select_delivery, 'ご自身の住所' %>
      <%= "〒" + @current_customer.postal_code %> <%= @current_customer.address %>
      <%= @current_customer.last_name %> <%= @current_customer.first_name %>
    </div>
    <div>
      <%= f.radio_button :select_delivery, 1 %>
      <%= f.label :select_delivery, '登録済住所から選択' %>
    </div>
    <div>
      <%= f.select :delivery_id, options_from_collection_for_select(Delivery.all, :id, :delivery_display) %>
    </div>
    <div>
      <%= f.radio_button :select_delivery, 2 %>
      <%= f.label :select_delivery, '新しいお届け先' %>
    </div>
    <div>
      <%= f.label :postal_code, '郵便番号(ハイフンなし)' %>
      <%= f.number_field :postal_code, placeholder: "0000000" %>
    </div>
    <div>
      <%= f.label :address, '配送先住所' %>
      <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
    </div>
    <div>
      <%= f.label :name, '宛名' %>
      <%= f.text_field :name, placeholder: "令和道子" %>
    </div>
    <%= f.submit '確認画面へ進む', class: "btn btn-success" %>
    <% end %>
    </end>
  </end>
